<div class="base-container">
    <p>Awesome! Please select the number of scoops of each flavour.</p>
    <p class="error" *ngIf="error">{{error}}*</p>
    <form [formGroup]="forms">
        <div class="base-container__input">
            <div class="input">
                <input [readOnly]="isReadOnlyVanilla" min="0" max="4" (keyup)="onInput()" formControlName="Vanilla" type="number" name="Vanilla" id="">Vanilla
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyChocolate" min="0" max="4" (keyup)="onInput()" formControlName="Chocolate" type="number" name="Chocolate" id="">Chocolate
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyStrawberry" min="0" max="4" (keyup)="onInput()" formControlName="Strawberry" type="number" name="Strawberry" id="">Strawberry
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyMooseTracks" min="0" max="4" (keyup)="onInput()" formControlName="MooseTracks" type="number" name="Moose Tracks" id="">Moose Tracks
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyCookiesCream" min="0" max="4" (keyup)="onInput()" formControlName="CookiesCream" type="number" name="Cookies and Cream" id="">Cookies and Cream
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyMintChocolateChip" min="0" max="4" (keyup)="onInput()" formControlName="MintChocolateChip" type="number" name="Mint Chocolate Chip" id="">Mint Chocolate Chip
            </div>
            <div class="input">
                <input [readOnly]="isReadOnlyCookieDough" min="0" max="4" (keyup)="onInput()" formControlName="CookieDough" type="number" name="Cookie Dough" id="">Cookie Dough
            </div>
        </div>
      </form>
    
</div>