.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin: auto;
    margin-top: 1rem;
    gap: 1rem
}

input {
    height: 2rem;
    padding: 0.2rem;
    font-size: 17px;
}

.btn {
    display: flex;
    gap: 1rem;
}

.btn-cancel,
.btn-proceed {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: 500;
}

.btn-cancel {
    color: #006d77;
}

.btn-proceed {
    background-color: #006d77;
    color: white;
}